.comment-input {
  width: 100%;
  padding: 1.4rem 2rem;
  height: 15rem;
  line-height: 1.6;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  border: 1px solid lightgray;
  outline: none;
  letter-spacing: 1px;

  &::placeholder {
    font-size: 1.6rem;
    font-weight: 500;
  }
}