.tag-link-box {
  padding-left: 2rem;
}

.tag-link {
  &:link, &:visited {
    display: block;
    text-decoration: none;
    color: lighten(black, 10%);
    padding: .8rem 3rem;
    text-transform: uppercase;
    width: fit-content;
  }
}

.tag-link-title {
  margin: 4rem 0 1rem 2rem;
  text-decoration: underline;
  letter-spacing: 1px;
}