@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

body {
  font-size: 1.8rem;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6;
  color: #343a40;
}

.nav {
  position: fixed;
  width: 100%;
  height: 10rem;
  background-color: #84a9ac;
  z-index: 1;
}

.container {
  padding-top: 12rem;
}